<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="index-multipage"
        name="Multi-page Indexing Filter"
        version="1.0"
        provider-name="wobot.ru">

    <runtime>
        <library name="index-multipage.jar">
            <export name="*"/>
        </library>
    </runtime>

    <requires>
        <import plugin="nutch-extensionpoints"/>
        <import plugin="lib-sm"/>
    </requires>

    <extension id="org.apache.nutch.indexer.multipage"
               name="Multi-page Indexing Filter"
               point="org.apache.nutch.indexer.IndexingFilter">
        <implementation id="MultiPageIndexingFilter"
                        class="org.apache.nutch.indexer.multipage.MultiPageIndexingFilter"/>
    </extension>

</plugin>