<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="lib-vk"
        name="vk.com Framework"
        version="1.0.0"
        provider-name="wobot.ru">

    <runtime>
        <library name="lib-vk.jar">
            <export name="*"/>
        </library>
        <library name="gson-2.4.jar">
            <export name="*"/>
        </library>
        <library name="spring-social-vkontakte-1.1.0.BUILD-SNAPSHOT.jar">
            <export name="*"/>
        </library>
        <library name="spring-social-core-1.1.4.RELEASE.jar">
            <export name="*"/>
        </library>
        <library name="spring-core-4.1.8.RELEASE.jar">
            <export name="*"/>
        </library>
        <library name="httpclient-4.2.5.jar">
            <export name="*"/>
        </library>
        <library name="jackson-databind-2.5.3.jar">
            <export name="*"/>
        </library>
    </runtime>

    <requires>
        <library name="spring-social-vkontakte-1.1.0.BUILD-SNAPSHOT.jar">
            <export name="*"/>
        </library>
        <library name="gson-2.4.jar">
            <export name="*"/>
        </library>
        <library name="httpclient-4.2.5.jar">
            <export name="*"/>
        </library>
        <library name="jackson-databind-2.5.3.jar">
            <export name="*"/>
        </library>
    </requires>

</plugin>
