<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="protocol-sm"
        name="vk.com Protocol Plug-in"
        version="1.0.0"
        provider-name="wobot.ru">

    <runtime>
        <library name="protocol-sm.jar">
            <export name="*"/>
        </library>
    </runtime>

    <requires>
        <import plugin="nutch-extensionpoints"/>
        <import plugin="lib-sm"/>
    </requires>

    <extension id="org.apache.nutch.protocol.vk"
               name="HttpProtocol"
               point="org.apache.nutch.protocol.Protocol">

        <implementation id="org.apache.nutch.protocol.vk"
                        class="org.apache.nutch.protocol.Vk">
            <parameter name="protocolName" value="vk"/>
        </implementation>
        <implementation id="org.apache.nutch.protocol.fb"
                        class="org.apache.nutch.protocol.Fb">
            <parameter name="protocolName" value="fb"/>
        </implementation>
    </extension>
</plugin>
