<plugin
        id="lib-sm"
        name="Social media Framework"
        version="1.0.0"
        provider-name="wobot.ru">

    <runtime>
        <library name="lib-sm.jar">
            <export name="*"/>
        </library>
        <library name="gson-2.4.jar">
            <export name="*"/>
        </library>
        <library name="spring-social-vkontakte-1.1.0.RELEASE.jar">
            <export name="*"/>
        </library>
        <library name="spring-social-facebook-2.0.3.RELEASE.jar">
            <export name="*"/>
        </library>
        <library name="spring-social-core-1.1.4.RELEASE.jar">
            <export name="*"/>
        </library>
        <library name="spring-core-4.1.8.RELEASE.jar">
            <export name="*"/>
        </library>
        <library name="spring-beans-4.1.8.RELEASE.jar">
            <export name="*"/>
        </library>
        <library name="spring-web-4.1.8.RELEASE.jar">
            <export name="*"/>
        </library>
        <library name="httpclient-4.5.1.jar">
            <export name="*"/>
        </library>
        <library name="httpcore-4.4.3.jar">
            <export name="*"/>
        </library>
        <library name="jackson-databind-2.5.3.jar">
            <export name="*"/>
        </library>
        <library name="joda-time-2.9.1.jar">
            <export name="*"/>
        </library>
        <library name="multipage-0.2.0-SNAPSHOT.jar">
            <export name="*"/>
        </library>
        <library name="sm-core-0.2.0-SNAPSHOT.jar">
            <export name="*"/>
        </library>
        <library name="cglib-nodep-2.1_3.jar">
            <export name="*"/>
        </library>
        <library name="commons-codec-1.10.jar">
            <export name="*"/>
        </library>
        <library name="commons-collections-3.2.1.jar">
            <export name="*"/>
        </library>
        <library name="commons-exec-1.1.jar">
            <export name="*"/>
        </library>
        <library name="commons-io-2.4.jar">
            <export name="*"/>
        </library>
        <library name="commons-lang3-3.3.2.jar">
            <export name="*"/>
        </library>
        <library name="commons-logging-1.2.jar">
            <export name="*"/>
        </library>
        <library name="cssparser-0.9.14.jar">
            <export name="*"/>
        </library>
        <library name="guava-18.0.jar">
            <export name="*"/>
        </library>
        <library name="htmlunit-2.15.jar">
            <export name="*"/>
        </library>
        <library name="htmlunit-core-js-2.15.jar">
            <export name="*"/>
        </library>
        <library name="httpmime-4.3.3.jar">
            <export name="*"/>
        </library>
        <library name="jetty-io-8.1.15.v20140411.jar">
            <export name="*"/>
        </library>
        <library name="jetty-util-8.1.15.v20140411.jar">
            <export name="*"/>
        </library>
        <library name="jna-3.4.0.jar">
            <export name="*"/>
        </library>
        <library name="nekohtml-1.9.21.jar">
            <export name="*"/>
        </library>
        <library name="netty-3.5.2.Final.jar">
            <export name="*"/>
        </library>
        <library name="platform-3.4.0.jar">
            <export name="*"/>
        </library>
        <library name="sac-1.3.jar">
            <export name="*"/>
        </library>
        <library name="selenium-api-2.44.0.jar">
            <export name="*"/>
        </library>
        <library name="selenium-chrome-driver-2.44.0.jar">
            <export name="*"/>
        </library>
        <library name="selenium-firefox-driver-2.44.0.jar">
            <export name="*"/>
        </library>
        <library name="selenium-htmlunit-driver-2.44.0.jar">
            <export name="*"/>
        </library>
        <library name="selenium-ie-driver-2.44.0.jar">
            <export name="*"/>
        </library>
        <library name="selenium-java-2.44.0.jar">
            <export name="*"/>
        </library>
        <library name="selenium-remote-driver-2.44.0.jar">
            <export name="*"/>
        </library>
        <library name="selenium-safari-driver-2.44.0.jar">
            <export name="*"/>
        </library>
        <library name="selenium-support-2.44.0.jar">
            <export name="*"/>
        </library>
        <library name="serializer-2.7.1.jar">
            <export name="*"/>
        </library>
        <library name="webbit-0.4.14.jar">
            <export name="*"/>
        </library>
        <library name="xalan-2.7.1.jar">
            <export name="*"/>
        </library>
        <library name="xercesImpl-2.9.1.jar">
            <export name="*"/>
        </library>
        <library name="xml-apis-1.4.01.jar">
            <export name="*"/>
        </library>
        <library name="phantomjsdriver-1.2.1.jar">
            <export name="*"/>
        </library>
        <library name="langdetect-1.0.jar">
            <export name="*"/>
        </library>
        <library name="jsonic-1.2.7.jar">
            <export name="*"/>
        </library>
    </runtime>
</plugin>
